# CONHECENDO O PERFIL DOS CLIENTES 

Realizar uma análise sobre o perfil dos Clientes tem por finalidade entender como o Cliente se comporta e como atender as suas necessidades de acordo com os desejos de cada pefil. Dessa forma a empresa pode focar seus investimentos em produtos com uma maior aceitabilidade para cada segmento de cliente e consequentemente aumentar suas vendas e cresciemento no mercado.

QUESTIONAMENTOS DO PROJETO:
- QUAIS OS CLIENTES QUE MAIS CONSOMEM;
- QUAL O PERFIL DESSES CLIENTES;

# INSTALAÇÃO DAS BIBLIOTECAS:

In [ ]:
!pip install pyspark

In [ ]:
!pip install pymongo[srv]

In [ ]:
!pip install gcsfs

#IMPORTANDO AS FUNCIONALIDADES:

In [ ]:
import pandas as pd

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [ ]:
import pymongo
from pymongo import MongoClient
import json

# IMPORTANDO STORAGE DA GC E CONECTANDO COM CHAVE JSON DO BUCKET CRIADO

In [ ]:
from google.cloud import storage 
import os

In [ ]:
serviceAccount = '/content/coastal-wares-339219-965fd3a6d9ec.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [ ]:
client = storage.Client()
bucket = client.get_bucket('projeto_individual_raquel')
bucket.blob('marketing_campaign.csv')
path = 'https://storage.googleapis.com/projeto_individual_raquel/dataset_original/marketing_campaign.csv'

#NÍVEL PANDAS 

- EXTRAÇÃO DO DATAFRAME
- TRADUÇÃO PARA PT(BR) DAS COLUNAS E DOS DADOS DA TABELA
- VERIFICAR INCONSISTÊNCIAS E REALIZAR LIMPEZA
- EXCLUIR COLUNAS QUE NÃO SÃO NECESSÁRIAS

In [ ]:
# EXTRAÇÃO DF PELO PANDAS
df_pd = pd.read_csv(path, sep=',')

In [ ]:
df_pd.head(5)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [ ]:
# IDENTIFCANDO OS TIPOS DE DADOS
df_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [ ]:
# IDENTIFICANDO O CONTEÚDO DAS COLUNAS TIPO 'OBJECT'
sorted(pd.unique(df_pd['Marital_Status']))

['Absurd',
 'Alone',
 'Divorced',
 'Married',
 'Single',
 'Together',
 'Widow',
 'YOLO']

In [ ]:
sorted(pd.unique(df_pd['Education']))

['2n Cycle', 'Basic', 'Graduation', 'Master', 'PhD']

In [ ]:
# COPIA DO DF ORIGINAL PARA TRADUÇÃO PT(BR)
df_pt = df_pd.copy()

In [ ]:
# renomemando colunas para portugues
df_pt.rename(columns=
          {
           'Year_Birth':'Ano_nascimento',
           'Education':'Educacao',
           'Marital_Status':'Estado_civil',
           'Income':'Renda_anual',
           'Kidhome':'Crianca_emcasa',
           'Teenhome':'Adolecente_emcasa',
           'Dt_Customer':'Data_cliente',
           'Recency':'Compra_recente',
           'MntWines':'Qtd_vinhos',
           'MntFruits':'Qtd_frutas',
           'MntMeatProducts':'Qtd_carnes',
           'MntFishProducts':'Qtd_peixes',
           'MntSweetProducts':'Qtd_doces',
           'MntGoldProds':'Qtd_ouro',
           'NumDealsPurchases':'Compra_descontos',
           'NumWebPurchases':'Compra_sites',
           'NumCatalogPurchases':'Compra_catalogo',
           'NumStorePurchases':'Compra_lojas',
           'NumWebVisitsMonth':'Visita_site_mes',
           'AcceptedCmp1':'Campanha_1',
           'AcceptedCmp2':'Campanha_2',
           'AcceptedCmp3':'Campanha_3',
           'AcceptedCmp4':'Campanha_4',
           'AcceptedCmp5':'Campanha_5',
           'Response':'Ultima_campanha',
           'Complain':'Reclamacao_2anos',
           'Z_CostContact':'Custo_contato',
           'Z_Revenue':'Receita',
          },inplace=True        
)

#IDENTIFICANDO O CONTEÚDO DAS COLUNAS:

ID: identificador exclusivo do cliente

Ano_nascimento: Ano de nascimento do cliente

Educacao: nível de educação do cliente

Estado_civil: estado civil do cliente

Renda_anual: Renda familiar anual do cliente

Crianca_emcasa: Número de crianças na casa do cliente

Adolecente_emcasa: Número de adolescentes na casa do cliente

Data_cliente: Data do cadastro do cliente na empresa

Compra_recente: número de dias desde a última compra do cliente

Qtd_vinho: Amount spent on wine in last 2 years

Qtd_frutas: Valor gasto em frutas nos últimos 2 anos

Qtd_carnes: Valor gasto em carne nos últimos 2 anos

Qtd_peixes: Valor gasto em pescado nos últimos 2 anos

Qtd_doces: Valor gasto em doces nos últimos 2 anos

Qtd_ouro: Valor gasto em ouro nos últimos 2 anos 

Compra_sites: Número de compras realizadas através do site da empresa

Compra_desconto: Número de compras feitas com desconto

Campanha_1: 1 se o cliente aceitou a oferta na 1ª campanha, 0 caso contrário

Campanha_2: 1 se o cliente aceitou a oferta na 2ª campanha, 0 caso contrário

Campanha_3: 1 se o cliente aceitou a oferta na 3ª campanha, 0 caso contrário

Campanha_4: 1 se o cliente aceitou a oferta na 4ª campanha, 0 caso contrário

Campanha_5: 1 se o cliente aceitou a oferta na 5ª campanha, 0 caso contrário

Ultima_campanha: 1 se o cliente aceitou a oferta na última campanha, 0 caso contrário

Compra_catalogo: Número de compras feitas usando um catálogo

Compra_loja: Número de compras feitas diretamente nas lojas

Visita_site_mes: Número de visitas ao site da empresa no último mês

Reclamação_2anos: 1 se o cliente reclamou nos últimos 2 anos, 0 caso contrário 

Custo_contato: O custo gerado por cliente

Receita: receita dos contatos

# CONTINUAÇÃO PANDAS

In [ ]:
# RENOMEANDO OS DADOS DA TABELA 
df_pt['Educacao'].replace(['2n Cycle', 'Basic', 'Graduation', 'Master', 'PhD'],['Pos graduacao','Fundamental Medio','Graduacao','Mestrado','PhD'],inplace=True)

In [ ]:
df_pt['Estado_civil'].replace(['Absurd','Alone','Divorced','Married','Single','Together','Widow','YOLO'],['Absurdo','Sozinho','Divorciado','Casado','Solteiro','Uniao estavel','Viuvo','Curtindo a vida'],inplace=True)

In [ ]:
df_pt.head(5)

,ID,Ano_nascimento,Educacao,Estado_civil,Renda_anual,Crianca_emcasa,Adolecente_emcasa,Data_cliente,Compra_recente,Qtd_vinhos,...,Visita_site_mes,Campanha_3,Campanha_4,Campanha_5,Campanha_1,Campanha_2,Reclamacao_2anos,Custo_contato,Receita,Ultima_campanha
0,5524,1957,Graduacao,Solteiro,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduacao,Solteiro,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduacao,Uniao estavel,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduacao,Uniao estavel,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Casado,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [ ]:
# VERIFICANDO COLUNAS COM DADOS NULOS
df_pt.isna().sum()

# 24 DADOS NULOS

ID                    0
Ano_nascimento        0
Educacao              0
Estado_civil          0
Renda_anual          24
Crianca_emcasa        0
Adolecente_emcasa     0
Data_cliente          0
Compra_recente        0
Qtd_vinhos            0
Qtd_frutas            0
Qtd_carnes            0
Qtd_peixes            0
Qtd_doces             0
Qtd_ouro              0
Compra_descontos      0
Compra_sites          0
Compra_catalogo       0
Compra_lojas          0
Visita_site_mes       0
Campanha_3            0
Campanha_4            0
Campanha_5            0
Campanha_1            0
Campanha_2            0
Reclamacao_2anos      0
Custo_contato         0
Receita               0
Ultima_campanha       0
dtype: int64

In [ ]:
# IDENTIFICANDO INCONSITÊNCIAS POR FILTRO

filtronulo_renda = df_pt.Renda_anual.isna()
df_pt.loc[filtronulo_renda]

# OS DADOS JÁ ESTÃO TRATADOS COM NaN

,ID,Ano_nascimento,Educacao,Estado_civil,Renda_anual,Crianca_emcasa,Adolecente_emcasa,Data_cliente,Compra_recente,Qtd_vinhos,...,Visita_site_mes,Campanha_3,Campanha_4,Campanha_5,Campanha_1,Campanha_2,Reclamacao_2anos,Custo_contato,Receita,Ultima_campanha
10,1994,1983,Graduacao,Casado,NaN,1,0,15-11-2013,11,5,...,7,0,0,0,0,0,0,3,11,0
27,5255,1986,Graduacao,Solteiro,NaN,1,0,20-02-2013,19,5,...,1,0,0,0,0,0,0,3,11,0
43,7281,1959,PhD,Solteiro,NaN,0,0,05-11-2013,80,81,...,2,0,0,0,0,0,0,3,11,0
48,7244,1951,Graduacao,Solteiro,NaN,2,1,01-01-2014,96,48,...,6,0,0,0,0,0,0,3,11,0
58,8557,1982,Graduacao,Solteiro,NaN,1,0,17-06-2013,57,11,...,6,0,0,0,0,0,0,3,11,0
71,10629,1973,Pos graduacao,Casado,NaN,1,0,14-09-2012,25,25,...,8,0,0,0,0,0,0,3,11,0
90,8996,1957,PhD,Casado,NaN,2,1,19-11-2012,4,230,...,9,0,0,0,0,0,0,3,11,0
91,9235,1957,Graduacao,Solteiro,NaN,1,1,27-05-2014,45,7,...,7,0,0,0,0,0,0,3,11,0
92,5798,1973,Mestrado,Uniao estavel,NaN,0,0,23-11-2013,87,445,...,1,0,0,0,0,0,0,3,11,0
128,8268,1961,PhD,Casado,NaN,0,1,11-07-2013,23,352,...,6,0,0,0,0,0,0,3,11,0
133,1295,1963,Graduacao,Casado,NaN,0,1,11-08-2013,96,231,...,4,0,0,0,0,0,0,3,11,0
312,2437,1989,Graduacao,Casado,NaN,0,0,03-06-2013,69,861,...,3,0,1,0,1,0,0,3,11,0
319,2863,1970,Graduacao,Solteiro,NaN,1,2,23-08-2013,67,738,...,7,0,1,0,1,0,0,3,11,0
1379,10475,1970,Mestrado,Uniao estavel,NaN,0,1,01-04-2013,39,187,...,5,0,0,0,0,0,0,3,11,0
1382,2902,1958,Graduacao,Uniao estavel,NaN,1,1,03-09-2012,87,19,...,5,0,0,0,0,0,0,3,11,0
1383,4345,1964,Pos graduacao,Solteiro,NaN,1,1,12-01-2014,49,5,...,7,0,0,0,0,0,0,3,11,0
1386,3769,1972,PhD,Uniao estavel,NaN,1,0,02-03-2014,17,25,...,7,0,0,0,0,0,0,3,11,0
2059,7187,1969,Mestrado,Uniao estavel,NaN,1,1,18-05-2013,52,375,...,3,0,0,0,0,0,0,3,11,0
2061,1612,1981,PhD,Solteiro,NaN,1,0,31-05-2013,82,23,...,6,0,0,0,0,0,0,3,11,0
2078,5079,1971,Graduacao,Casado,NaN,1,1,03-03-2013,82,71,...,8,0,0,0,0,0,0,3,11,0
2079,10339,1954,Mestrado,Uniao estavel,NaN,0,1,23-06-2013,83,161,...,6,0,0,0,0,0,0,3,11,0
2081,3117,1955,Graduacao,Solteiro,NaN,0,1,18-10-2013,95,264,...,7,0,0,0,0,0,0,3,11,0
2084,5250,1943,Mestrado,Viuvo,NaN,0,0,30-10-2013,75,532,...,1,0,0,1,0,0,0,3,11,1
2228,8720,1978,Pos graduacao,Uniao estavel,NaN,0,0,12-08-2012,53,32,...,0,0,1,0,0,0,0,3,11,0

In [ ]:
# TOTAL DE LINHAS E COLUNAS
df_pt.shape

(2240, 29)

In [ ]:
# AGRUPAMENTO DOS ESTADOS CIVIS 
df_pt.groupby(['Estado_civil']).size().sort_values(ascending=False)

# 38.5% DOS DADOS SÃO DE PESSOAS CASADAS

Estado_civil
Casado             864
Uniao estavel      580
Solteiro           480
Divorciado         232
Viuvo               77
Sozinho              3
Absurdo              2
Curtindo a vida      2
dtype: int64

In [ ]:
df_pt.groupby(['Educacao']).size().sort_values(ascending=False)

# 50.3% SÃO DE PESSOAS COM GRADUAÇÃO

Educacao
Graduacao            1127
PhD                   486
Mestrado              370
Pos graduacao         203
Fundamental Medio      54
dtype: int64

In [ ]:
df_pt.groupby(['Reclamacao_2anos']).size().sort_values(ascending=False)

3 # APENAS 21 RECLAMAÇÕES

3

In [ ]:
filtro_reclamacao = df_pt.Reclamacao_2anos == 1
#filtro_educacao = df_pt.Educacao == 'Graduacao'
df_pt.loc[filtro_reclamacao]

# TODAS AS RECLAMAÇÕES FORAM DE PESSOAS COM ESCOLARIDADE ACIMA DE FUNDAMANETAL E MÉDIO

,ID,Ano_nascimento,Educacao,Estado_civil,Renda_anual,Crianca_emcasa,Adolecente_emcasa,Data_cliente,Compra_recente,Qtd_vinhos,...,Visita_site_mes,Campanha_3,Campanha_4,Campanha_5,Campanha_1,Campanha_2,Reclamacao_2anos,Custo_contato,Receita,Ultima_campanha
78,10401,1976,Pos graduacao,Uniao estavel,26326.0,0,0,04-09-2013,12,1,...,3,0,0,0,0,0,1,3,11,0
147,3120,1981,Graduacao,Uniao estavel,38547.0,1,0,28-08-2013,49,6,...,8,0,0,0,0,0,1,3,11,0
192,7829,1900,Pos graduacao,Divorciado,36640.0,1,0,26-09-2013,99,15,...,5,0,0,0,0,0,1,3,11,0
271,5726,1983,Mestrado,Solteiro,31788.0,1,0,20-03-2014,15,16,...,5,0,0,0,0,0,1,3,11,0
355,6201,1978,Graduacao,Solteiro,38643.0,1,1,29-11-2013,45,22,...,7,0,0,0,0,0,1,3,11,0
358,6142,1943,Mestrado,Casado,65073.0,0,0,20-08-2013,65,629,...,2,0,0,0,0,0,1,3,11,0
590,3710,1984,PhD,Solteiro,39684.0,1,0,12-10-2012,41,19,...,7,0,0,0,0,0,1,3,11,1
972,10995,1988,Pos graduacao,Casado,15716.0,1,0,12-11-2012,8,16,...,8,0,0,0,0,0,1,3,11,0
1041,6730,1954,Graduacao,Casado,38998.0,1,1,03-11-2012,92,34,...,8,0,0,0,0,0,1,3,11,0
1069,2875,1978,Graduacao,Casado,67023.0,0,0,04-03-2014,93,444,...,2,0,0,0,0,0,1,3,11,0
1180,359,1950,Graduacao,Uniao estavel,48070.0,0,1,13-01-2013,33,373,...,7,0,0,0,0,0,1,3,11,0
1201,9500,1959,Graduacao,Casado,58113.0,0,1,25-01-2013,66,221,...,7,0,0,0,0,0,1,3,11,0
1211,7192,1955,Graduacao,Uniao estavel,65748.0,0,1,15-04-2013,58,172,...,1,0,0,0,0,0,1,3,11,0
1277,10637,1964,Graduacao,Casado,40800.0,1,2,01-01-2013,77,24,...,7,0,0,0,0,0,1,3,11,0
1323,10971,1977,Graduacao,Solteiro,37774.0,2,0,03-09-2012,28,173,...,9,1,0,0,0,0,1,3,11,1
1461,9483,1959,Graduacao,Uniao estavel,57957.0,0,1,19-08-2013,24,290,...,3,0,0,0,0,0,1,3,11,0
1571,9916,1954,Graduacao,Casado,38998.0,1,1,03-11-2012,92,34,...,8,0,0,0,0,0,1,3,11,0
1720,6742,1979,Graduacao,Casado,17688.0,1,0,13-01-2013,82,2,...,8,0,0,0,0,0,1,3,11,0
1850,4427,1995,Pos graduacao,Solteiro,83257.0,0,0,18-09-2012,56,536,...,6,1,0,1,0,0,1,3,11,1
1924,7966,1959,Graduacao,Solteiro,80982.0,1,1,08-01-2013,48,505,...,5,0,0,0,0,0,1,3,11,0
2018,255,1951,Graduacao,Divorciado,22263.0,1,1,30-03-2014,31,17,...,6,0,0,0,0,0,1,3,11,0

In [ ]:
# AS RECLAMAÇÕES REPRESENTAM MENOS DE 1% DOS DADOS E POR ISSO PODEM SER DESCOSIDERADAS NO MOMENTO
df_pt.drop(['Reclamacao_2anos'],axis=1,inplace=True)

In [ ]:
# A COLUNA Receita MOSTRA APENAS O DADO DE VALOR 11 QUE PODE SER RETIRADO PARA ANÁLISE POR SER O MESMO EM TODAS AS LINHAS
df_pt.groupby(['Receita']).size().sort_values(ascending=False)

Receita
11    2240
dtype: int64

In [ ]:
df_pt.drop(['Receita'],axis=1,inplace=True)

In [ ]:
# A COLUNA Custo_contato TAMBÉM MOSTRA APENAS O DADO DE VALOR 3 QUE PODE SER RETIRADO PARA ANÁLISE POR SER O MESMO EM TODAS AS LINHAS
df_pt.groupby(['Custo_contato']).size().sort_values(ascending=False)

Custo_contato
3    2240
dtype: int64

In [ ]:
df_pt.drop(['Custo_contato'],axis=1,inplace=True)

In [ ]:
# A COLUNA Data_cliente PODE SER RETIRADO PARA ANÁLISE POR NÃO SER NECESSÁRIA NA PRÉ-ANÁLISE 
df_pt.groupby(['Data_cliente']).size().sort_values(ascending=False)

Data_cliente
31-08-2012    12
12-05-2014    11
14-02-2013    11
12-09-2012    11
22-05-2014    10
              ..
13-08-2013     1
27-08-2013     1
09-03-2013     1
13-06-2014     1
16-05-2013     1
Length: 663, dtype: int64

In [ ]:
df_pt.drop(['Data_cliente'],axis=1,inplace=True)

In [ ]:
# ADICIONAR COLUNA COM IDADE  E EXCLUINDO A COLUNA Ano_nascimento
df_pt['Idade'] = 2022 - df_pt['Ano_nascimento']

In [ ]:
df_pt.drop(['Ano_nascimento'],axis=1,inplace=True)

In [ ]:
# ADICIONANDO COLUNA COM TOTAL DE COMPRAS DOS PRODUTOS
df_pt["Total_compra"] = df_pt["Qtd_vinhos"] + df_pt["Qtd_frutas"] + df_pt["Qtd_carnes"] + df_pt["Qtd_peixes"] + df_pt["Qtd_doces"] + df_pt["Qtd_ouro"]

In [ ]:
# ADICIONANDO COLUNA DE TOTAL DE CRIANÇAS E ADOLECENTES EM CASA
df_pt["Familia_emcasa"] = df_pt["Crianca_emcasa"] + df_pt["Adolecente_emcasa"]

In [ ]:
df_pt.head(5)

,ID,Educacao,Estado_civil,Renda_anual,Crianca_emcasa,Adolecente_emcasa,Compra_recente,Qtd_vinhos,Qtd_frutas,Qtd_carnes,...,Visita_site_mes,Campanha_3,Campanha_4,Campanha_5,Campanha_1,Campanha_2,Ultima_campanha,Idade,Total_compra,Familia_emcasa
0,5524,Graduacao,Solteiro,58138.0,0,0,58,635,88,546,...,7,0,0,0,0,0,1,65,1617,0
1,2174,Graduacao,Solteiro,46344.0,1,1,38,11,1,6,...,5,0,0,0,0,0,0,68,27,2
2,4141,Graduacao,Uniao estavel,71613.0,0,0,26,426,49,127,...,4,0,0,0,0,0,0,57,776,0
3,6182,Graduacao,Uniao estavel,26646.0,1,0,26,11,4,20,...,6,0,0,0,0,0,0,38,53,1
4,5324,PhD,Casado,58293.0,1,0,94,173,43,118,...,5,0,0,0,0,0,0,41,422,1

In [ ]:
df_pt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 2240 non-null   int64
 1   Educacao           2240 non-null   object
 2   Estado_civil       2240 non-null   object
 3   Renda_anual        2216 non-null   float64
 4   Crianca_emcasa     2240 non-null   int64
 5   Adolecente_emcasa  2240 non-null   int64
 6   Compra_recente     2240 non-null   int64
 7   Qtd_vinhos         2240 non-null   int64
 8   Qtd_frutas         2240 non-null   int64
 9   Qtd_carnes         2240 non-null   int64
 10  Qtd_peixes         2240 non-null   int64
 11  Qtd_doces          2240 non-null   int64
 12  Qtd_ouro           2240 non-null   int64
 13  Compra_descontos   2240 non-null   int64
 14  Compra_sites       2240 non-null   int64
 15  Compra_catalogo    2240 non-null   int64
 16  Compra_lojas       2240 non-null   int64
 17  Visita_site_mes    2240 non-null   int64
 18  Campanha_3         2240 non-null   int64
 19  Campanha_4         2240 non-null   int64
 20  Campanha_5         2240 non-null   int64
 21  Campanha_1         2240 non-null   int64
 22  Campanha_2         2240 non-null   int64
 23  Ultima_campanha    2240 non-null   int64
 24  Idade              2240 non-null   int64
 25  Total_compra       2240 non-null   int64
 26  Familia_emcasa     2240 non-null   int64
dtypes: float64(1), int64(24), object(2)
memory usage: 472.6+ KB

In [ ]:
# UTILIZANDO ALGUNS FILTROS PARA UMA PRÉ-ANÁLISE DE DADOS RELEVANTES 
filtro_estado = df_pt.Estado_civil == 'Casado'
filtro_formacao = df_pt.Educacao == 'Graduacao'
filtro_crianca = df_pt.Crianca_emcasa == 0 
filtro_adolecente =  df_pt.Adolecente_emcasa == 0
df_pt.loc[filtro_estado & filtro_formacao & filtro_adolecente & filtro_crianca]
# 433 pessoas CASADAS com GRADUAÇÃO, 245 sem dependentes,  77 tendo CRIANCAS e ADOLECENTES,  188 tendo apenas CRIANÇAS

,ID,Educacao,Estado_civil,Renda_anual,Crianca_emcasa,Adolecente_emcasa,Compra_recente,Qtd_vinhos,Qtd_frutas,Qtd_carnes,...,Visita_site_mes,Campanha_3,Campanha_4,Campanha_5,Campanha_1,Campanha_2,Ultima_campanha,Idade,Total_compra,Familia_emcasa
14,2569,Graduacao,Casado,17323.0,0,0,38,3,14,17,...,8,0,0,0,0,0,0,35,46,0
20,9360,Graduacao,Casado,37040.0,0,0,41,86,2,73,...,8,0,0,0,0,0,0,40,316,0
74,1050,Graduacao,Casado,28332.0,0,0,58,14,10,13,...,2,0,0,0,0,0,0,70,65,0
88,8504,Graduacao,Casado,79593.0,0,0,70,350,60,568,...,2,0,0,1,0,0,0,49,1366,0
104,8908,Graduacao,Casado,87195.0,0,0,35,217,76,690,...,1,0,0,0,0,0,1,63,1097,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2151,7233,Graduacao,Casado,69209.0,0,0,4,496,32,849,...,4,0,0,0,1,0,0,50,1782,0
2168,10394,Graduacao,Casado,90000.0,0,0,91,675,144,133,...,1,1,0,1,1,0,0,38,1479,0
2182,3266,Graduacao,Casado,42523.0,0,0,96,14,36,11,...,2,0,0,0,0,0,0,58,125,0
2192,7990,Graduacao,Casado,27469.0,0,0,2,9,1,2,...,6,0,0,0,0,0,0,75,17,0
2204,1876,Graduacao,Casado,18929.0,0,0,15,32,0,8,...,6,0,0,0,0,0,0,32,85,0

#NIVEL PYSPARK

- ESTRUTURA DATAFRAME COM STRUCTTYPE
- ALTERAR NOME DE COLUNAS
- EXCLUSÃO DE COLUNAS NÃO NECESSÁRIAS
- CRIAÇÃO DE COLUNAS COM FUNÇÃO DE AGRUPAMENTO
- USO DE FILTROS PARA ANÁLISE
- USO DE WINDOW FUNCTIONS

In [ ]:
spark = (
    SparkSession.builder
                .master('local')
                .appName('StructType')
                .config('spark.ui.port', '4050')
                .getOrCreate()
)
df_spark = spark.createDataFrame(df_pt)

In [ ]:
df_spark.show(10)

+----+---------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+----------+----------+----------+----------+----------+---------------+-----+------------+--------------+
|  ID| Educacao| Estado_civil|Renda_anual|Crianca_emcasa|Adolecente_emcasa|Compra_recente|Qtd_vinhos|Qtd_frutas|Qtd_carnes|Qtd_peixes|Qtd_doces|Qtd_ouro|Compra_descontos|Compra_sites|Compra_catalogo|Compra_lojas|Visita_site_mes|Campanha_3|Campanha_4|Campanha_5|Campanha_1|Campanha_2|Ultima_campanha|Idade|Total_compra|Familia_emcasa|
+----+---------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+----------+----------+----------+----------+----------+---------------+-----+------------+--------------+
|5524|Graduacao|     Solteiro|    58138.0|             0|                0|            58|       635|        88|       546|       172|       88|      88|               3|           8|             10|           4|              7|         0|         0|         0|         0|         0|              1|   65|        1617|             0|
|2174|Graduacao|     Solteiro|    46344.0|             1|                1|            38|        11|         1|         6|         2|        1|       6|               2|           1|              1|           2|              5|         0|         0|         0|         0|         0|              0|   68|          27|             2|
|4141|Graduacao|Uniao estavel|    71613.0|             0|                0|            26|       426|        49|       127|       111|       21|      42|               1|           8|              2|          10|              4|         0|         0|         0|         0|         0|              0|   57|         776|             0|
|6182|Graduacao|Uniao estavel|    26646.0|             1|                0|            26|        11|         4|        20|        10|        3|       5|               2|           2|              0|           4|              6|         0|         0|         0|         0|         0|              0|   38|          53|             1|
|5324|      PhD|       Casado|    58293.0|             1|                0|            94|       173|        43|       118|        46|       27|      15|               5|           5|              3|           6|              5|         0|         0|         0|         0|         0|              0|   41|         422|             1|
|7446| Mestrado|Uniao estavel|    62513.0|             0|                1|            16|       520|        42|        98|         0|       42|      14|               2|           6|              4|          10|              6|         0|         0|         0|         0|         0|              0|   55|         716|             1|
| 965|Graduacao|   Divorciado|    55635.0|             0|                1|            34|       235|        65|       164|        50|       49|      27|               4|           7|              3|           7|              6|         0|         0|         0|         0|         0|              0|   51|         590|             1|
|6177|      PhD|       Casado|    33454.0|             1|                0|            32|        76|        10|        56|         3|        1|      23|               2|           4|              0|           4|              8|         0|         0|         0|         0|         0|              0|   37|         169|             1|
|4855|      PhD|Uniao estavel|    30351.0|             1|                0|            19|        14|         0|        24|         3|        3|       2|               1|           3|              0|           2|              9|         0|         0|         0|         0|         0|              1|   48|          46|             1|
|5899|      PhD|Uniao estavel|     5648.0|             1|                1|            68|        28|         0|         6|         1|        1|      13|               1|           1|              0|           0|             20|         1|         0|         0|         0|         0|              0|   72|          49|             2|
+----+---------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+----------+----------+----------+----------+----------+---------------+-----+------------+--------------+
only showing top 10 rows

In [ ]:
# DEFININDO O ESQUEMA DOS DADOS
schema = (
    StructType([
        StructField('ID', IntegerType(), True),
        StructField('Educacao', StringType(), True),
        StructField('Estado_civil', StringType(), True),
        StructField('Renda_anual', DoubleType(), True),
        StructField('Crianca_emcasa', IntegerType(), True),
        StructField('Adolescente_emcasa', IntegerType(), True),
        StructField('Compras_recentes', IntegerType(), True),
        StructField('Qtd_vinhos', IntegerType(), True),
        StructField('Qtd_frutas',IntegerType(), True), 
        StructField('Qtd_carnes ', IntegerType(), True),
        StructField('Qtd_peixes', IntegerType(), True),
        StructField('Qtd_doces', IntegerType(), True),
        StructField('Qtd_ouro',IntegerType(), True),
        StructField('Compras_desconto', IntegerType(), True),
        StructField('Compra_site', IntegerType(), True),
        StructField('Compra_catalogo', IntegerType(), True),
        StructField('Compra_lojas', IntegerType(), True),
        StructField('Visita_site_mes', IntegerType(), True), 
        StructField('Campanha_3',IntegerType(), True),
        StructField('Campanha_4',IntegerType(), True),
        StructField('Campanha_5',IntegerType(), True),
        StructField('Campanha_1',IntegerType(), True),
        StructField('Campanha_2',IntegerType(), True),
        StructField('Ultima_campanha', IntegerType(), True),
        StructField('Idade', IntegerType(), True),
        StructField('Total_compra', IntegerType(), True),
        StructField('Familia_emcasa', IntegerType(), True),
    ])
)

In [ ]:
# REMOVENDO OS 24 VALORES NULOS DA TABELA QUE REPRESENTAM 1% DOS DADOS 
df_spark=df_spark.dropna()

In [ ]:
df_spark.count(),len(df_spark.columns)

(2216, 27)

In [ ]:
# ALTERANDO O NOME DE DUAS COLUNAS PARA MELHOR COMPREENSÃO DOS DADOS
df_spark=df_spark.withColumnRenamed('Educacao','Escolaridade').withColumnRenamed('Familia_emcasa', 'Dependentes')
df_spark.show(5)

+----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+----------+----------+----------+----------+----------+---------------+-----+------------+-----------+
|  ID|Escolaridade| Estado_civil|Renda_anual|Crianca_emcasa|Adolecente_emcasa|Compra_recente|Qtd_vinhos|Qtd_frutas|Qtd_carnes|Qtd_peixes|Qtd_doces|Qtd_ouro|Compra_descontos|Compra_sites|Compra_catalogo|Compra_lojas|Visita_site_mes|Campanha_3|Campanha_4|Campanha_5|Campanha_1|Campanha_2|Ultima_campanha|Idade|Total_compra|Dependentes|
+----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+----------+----------+----------+----------+----------+---------------+-----+------------+-----------+
|5524|   Graduacao|     Solteiro|    58138.0|             0|                0|            58|       635|        88|       546|       172|       88|      88|               3|           8|             10|           4|              7|         0|         0|         0|         0|         0|              1|   65|        1617|          0|
|2174|   Graduacao|     Solteiro|    46344.0|             1|                1|            38|        11|         1|         6|         2|        1|       6|               2|           1|              1|           2|              5|         0|         0|         0|         0|         0|              0|   68|          27|          2|
|4141|   Graduacao|Uniao estavel|    71613.0|             0|                0|            26|       426|        49|       127|       111|       21|      42|               1|           8|              2|          10|              4|         0|         0|         0|         0|         0|              0|   57|         776|          0|
|6182|   Graduacao|Uniao estavel|    26646.0|             1|                0|            26|        11|         4|        20|        10|        3|       5|               2|           2|              0|           4|              6|         0|         0|         0|         0|         0|              0|   38|          53|          1|
|5324|         PhD|       Casado|    58293.0|             1|                0|            94|       173|        43|       118|        46|       27|      15|               5|           5|              3|           6|              5|         0|         0|         0|         0|         0|              0|   41|         422|          1|
+----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+----------+----------+----------+----------+----------+---------------+-----+------------+-----------+
only showing top 5 rows

In [ ]:
# SOMA DE TODAS AS COLUNAS DE CAMPANHAS  
df_spark=df_spark.withColumn('Total_campanhas',F.col('Campanha_1')+F.col('Campanha_2')+F.col('Campanha_3')+F.col('Campanha_4')+F.col('Campanha_5')+F.col('Ultima_campanha')).orderBy('Total_campanhas', ascending=False)
df_spark.show(5)

+-----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+----------+----------+----------+----------+----------+---------------+-----+------------+-----------+---------------+
|   ID|Escolaridade| Estado_civil|Renda_anual|Crianca_emcasa|Adolecente_emcasa|Compra_recente|Qtd_vinhos|Qtd_frutas|Qtd_carnes|Qtd_peixes|Qtd_doces|Qtd_ouro|Compra_descontos|Compra_sites|Compra_catalogo|Compra_lojas|Visita_site_mes|Campanha_3|Campanha_4|Campanha_5|Campanha_1|Campanha_2|Ultima_campanha|Idade|Total_compra|Dependentes|Total_campanhas|
+-----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+----------+----------+----------+----------+----------+---------------+-----+------------+-----------+---------------+
| 5536|   Graduacao|Uniao estavel|    87771.0|             0|                1|            61|      1492|        38|       287|        50|       57|      33|               1|           5|             10|           4|              6|         0|         1|         1|         1|         1|              1|   63|        1957|          1|              5|
| 3138|   Graduacao|     Solteiro|    91249.0|             0|                0|            84|      1324|        27|       119|        71|      108|      27|               0|           7|              9|           6|              4|         0|         1|         1|         1|         1|              1|   66|        1676|          0|              5|
| 8545|   Graduacao|   Divorciado|    85683.0|             0|                0|             6|      1296|        17|       311|        45|       69|      51|               1|           2|              4|          10|              1|         0|         1|         1|         1|         1|              1|   68|        1789|          0|              5|
|10089|   Graduacao|   Divorciado|   102692.0|             0|                0|             5|       168|       148|       444|        32|      172|     148|               1|           6|              9|          13|              2|         0|         1|         1|         1|         1|              1|   48|        1112|          0|              5|
| 1509|         PhD|Uniao estavel|    84460.0|             0|                0|            80|       152|        27|       103|       106|       54|      81|               0|           9|              9|           4|              5|         0|         1|         1|         1|         1|              1|   64|         523|          0|              5|
+-----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+----------+----------+----------+----------+----------+---------------+-----+------------+-----------+---------------+
only showing top 5 rows

In [ ]:
# FILTRO PARA IDENTIFICAR CLIENTES COM DEPENDENTES
df_spark.filter(df_spark['Dependentes']== 0 ).show()

+-----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+----------+----------+----------+----------+----------+---------------+-----+------------+-----------+---------------+
|   ID|Escolaridade| Estado_civil|Renda_anual|Crianca_emcasa|Adolecente_emcasa|Compra_recente|Qtd_vinhos|Qtd_frutas|Qtd_carnes|Qtd_peixes|Qtd_doces|Qtd_ouro|Compra_descontos|Compra_sites|Compra_catalogo|Compra_lojas|Visita_site_mes|Campanha_3|Campanha_4|Campanha_5|Campanha_1|Campanha_2|Ultima_campanha|Idade|Total_compra|Dependentes|Total_campanhas|
+-----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+----------+----------+----------+----------+----------+---------------+-----+------------+-----------+---------------+
|10089|   Graduacao|   Divorciado|   102692.0|             0|                0|             5|       168|       148|       444|        32|      172|     148|               1|           6|              9|          13|              2|         0|         1|         1|         1|         1|              1|   48|        1112|          0|              5|
|  477|   Graduacao|       Casado|    83512.0|             0|                0|            31|      1060|        61|       835|        80|       20|     101|               1|           4|              7|          10|              1|         1|         0|         1|         1|         1|              1|   36|        2157|          0|              5|
| 8545|   Graduacao|   Divorciado|    85683.0|             0|                0|             6|      1296|        17|       311|        45|       69|      51|               1|           2|              4|          10|              1|         0|         1|         1|         1|         1|              1|   68|        1789|          0|              5|
| 3138|   Graduacao|     Solteiro|    91249.0|             0|                0|            84|      1324|        27|       119|        71|      108|      27|               0|           7|              9|           6|              4|         0|         1|         1|         1|         1|              1|   66|        1676|          0|              5|
| 3520|    Mestrado|     Solteiro|    91172.0|             0|                0|            94|       162|        28|       818|         0|       28|      56|               0|           4|              3|           7|              3|         1|         0|         1|         1|         1|              1|   32|        1092|          0|              5|
| 3725|         PhD|     Solteiro|    84865.0|             0|                0|             1|      1248|        16|       349|        43|       16|      16|               1|           2|              4|           9|              4|         0|         1|         1|         1|         1|              1|   61|        1688|          0|              5|
| 1509|         PhD|Uniao estavel|    84460.0|             0|                0|            80|       152|        27|       103|       106|       54|      81|               0|           9|              9|           4|              5|         0|         1|         1|         1|         1|              1|   64|         523|          0|              5|
| 5758|   Graduacao|       Casado|    65169.0|             0|                0|            23|      1074|         0|        69|         0|        0|      46|               1|          10|              4|          13|              6|         1|         0|         1|         1|         1|              1|   40|        1189|          0|              5|
| 7215|   Graduacao|     Solteiro|   101970.0|             0|                0|            69|       722|        27|       102|        44|       72|     168|               0|           6|              8|          13|              2|         0|         1|         1|         1|         0|              1|   39|        1135|          0|              4|
| 2798|         PhD|Uniao estavel|   102160.0|             0|                0|            54|       763|        29|       138|        76|      176|      58|               0|           7|              9|          10|              4|         0|         1|         1|         1|         0|              1|   45|        1240|          0|              4|
| 5067|   Graduacao|Uniao estavel|    80134.0|             0|                0|            11|       966|        26|       282|        52|       26|      26|               1|           2|              7|          11|              5|         0|         1|         1|         1|         1|              0|   28|        1378|          0|              4|
| 7875|   Graduacao|       Casado|    72025.0|             0|                0|            46|       967|         0|       617|        43|       50|       0|               1|           4|              8|          13|              2|         0|         1|         1|         1|         0|              1|   73|        1677|          0|              4|
| 7381|   Graduacao|   Divorciado|    75693.0|             0|                0|            10|       797|       153|       293|        72|       97|      30|               1|          11|              4|           6|              4|         0|         1|         1|         1|         0|              1|   54|        1442|          0|              4|
| 9058|   Graduacao|        Viuvo|    79800.0|             0|                0|            65|      1060|        21|       530|        32|        0|     224|               1|           5|             11|           5|              3|         1|         0|         1|         1|         0|              1|   67|        1867|          0|              4|
| 2894|   Graduacao|     Solteiro|    72903.0|             0|                0|            74|      1067|       138|       750|         0|       19|      39|               1|           7|              5|           8|              4|         0|         1|         1|         1|         0|              1|   37|        2013|          0|              4|
| 3667|   Graduacao|       Casado|    80952.0|             0|                0|            20|       778|       178|       689|        41|       27|      44|               1|           8|              5|          11|              8|         0|         1|         1|         1|         0|              1|   53|        1757|          0|              4|
|10446|         PhD|       Casado|    82017.0|             0|                0|            58|       184|        23|       446|        30|       23|      23|               1|           5|              4|           7|              2|         0|         1|         1|         1|         0|              1|   65|         729|          0|              4|
| 5848|   Graduacao|Uniao estavel|    81205.0|             0|                0|            43|       724|        74|       929|        97|       55|     130|               1|           5|              6|           7|              2|         1|         0|         1|         0|         1|              1|   52|        2009|          0|              4|
| 8029|    Mestrado|     Solteiro|    90247.0|             0|                0|            27|      1184|        32|       352|        21|       16|      16|               1|           3|              4|           7|              1|         0|         1|         1|         1|         0|              1|   34|        1621|          0|              4|
| 3483|   Graduacao|       Casado|    48192.0|             0|                0|            76|      1039|        43|       204|       153|       58|      29|               3|           2|              8|          12|              8|         0|         1|         0|         1|         1|              1|   64|        1526|          0|              4|
+-----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+----------+----------+----------+----------+----------+---------------+-----+------------+-----------+---------------+
only showing top 20 rows

In [ ]:
# SOMA TOTAL DA COMPRA DE CADA TIPO DE PRODUTO
df_produtos = df_spark.agg(F.sum('Qtd_vinhos'),F.sum('Qtd_carnes'),F.sum('Qtd_peixes'),F.sum('Qtd_doces'), F.sum('Qtd_frutas'),F.sum('Qtd_ouro'))
num = df_produtos.collect()[0][0]
df_produtos.show()
# O VINHO É O PRODUTO MAIS CONSUMIDO

+---------------+---------------+---------------+--------------+---------------+-------------+
|sum(Qtd_vinhos)|sum(Qtd_carnes)|sum(Qtd_peixes)|sum(Qtd_doces)|sum(Qtd_frutas)|sum(Qtd_ouro)|
+---------------+---------------+---------------+--------------+---------------+-------------+
|         676083|         370063|          83405|         59896|          58405|        97427|
+---------------+---------------+---------------+--------------+---------------+-------------+

In [ ]:
# SOMA TOTAL DE CADA TIPO DE  CAMPANHAS
df_campanhas = df_spark.agg(F.sum('Campanha_1'),F.sum('Campanha_2'),F.sum('Campanha_3'),F.sum('Campanha_4'), F.sum('Campanha_5'),F.sum('Ultima_campanha'))
num1 = df_campanhas.collect()[0][0]
df_campanhas.show()
# A CAPANHHA 3, 4 E 5 FORAM AS QUE MAIS DERAM RESPOSTAS

+---------------+---------------+---------------+---------------+---------------+--------------------+
|sum(Campanha_1)|sum(Campanha_2)|sum(Campanha_3)|sum(Campanha_4)|sum(Campanha_5)|sum(Ultima_campanha)|
+---------------+---------------+---------------+---------------+---------------+--------------------+
|            142|             30|            163|            164|            162|                 333|
+---------------+---------------+---------------+---------------+---------------+--------------------+

In [ ]:
# AS COLUNAS CAMPANHAS NÃO APRESENTAM VALORES EXPRESSIVOS EM RELAÇÃO A QUANTIDADE DE DADOS E POR ISSO PODEM SER REMOVIDAS
# DEIXANDO APENAS A COLUNA TOTAL CAMPANHAS
df_spark=df_spark.drop('Campanha_2','Campanha_2','Campanha_3','Campanha_4','Campanha_5','Ultima_campanha')

In [ ]:
df_spark=df_spark.drop('Campanha_1')

In [ ]:
df_spark.count(),len(df_spark.columns)

(2216, 22)

In [ ]:
# SOMA TOTAL DE CADA TIPO DE  VENDAS
df_compras_tipo = df_spark.agg(F.sum('Compra_descontos'),F.sum('Compra_sites'),F.sum('Compra_catalogo'),F.sum('Compra_lojas'))
num1 = df_compras_tipo.collect()[0][0]
df_compras_tipo.show()
# COMPRAS EM LOJA FORAM AS MAIS REALIZADAS SEGUIDA DE SITES

+---------------------+-----------------+--------------------+-----------------+
|sum(Compra_descontos)|sum(Compra_sites)|sum(Compra_catalogo)|sum(Compra_lojas)|
+---------------------+-----------------+--------------------+-----------------+
|                 5149|             9053|                5919|            12855|
+---------------------+-----------------+--------------------+-----------------+

In [ ]:
# PARTICIONANDO A TABELA PELA ESCOLARIDADE DOS CLIENTES E ORDENANDO PELA RENDA DE FORMA RANKEADA
w0 = Window.partitionBy(F.col('Escolaridade')).orderBy('Renda_anual')
df_spark.withColumn('rank', F.rank().over(w0)).show()

+-----+-----------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+-----+------------+-----------+---------------+----+
|   ID|     Escolaridade| Estado_civil|Renda_anual|Crianca_emcasa|Adolecente_emcasa|Compra_recente|Qtd_vinhos|Qtd_frutas|Qtd_carnes|Qtd_peixes|Qtd_doces|Qtd_ouro|Compra_descontos|Compra_sites|Compra_catalogo|Compra_lojas|Visita_site_mes|Idade|Total_compra|Dependentes|Total_campanhas|rank|
+-----+-----------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+-----+------------+-----------+---------------+----+
|  387|Fundamental Medio|       Casado|     7500.0|             0|                0|            59|         6|        16|        11|        11|        1|      16|               1|           2|              0|           3|              8|   46|          61|          0|              0|   1|
| 4136|Fundamental Medio|     Solteiro|     7500.0|             1|                0|            63|        10|        17|        18|         8|       26|      40|               4|           3|              2|           2|              9|   30|         119|          1|              0|   1|
|10395|Fundamental Medio|     Solteiro|     8940.0|             1|                0|            25|         1|        45|         3|         4|        6|      42|               3|           3|              1|           3|              8|   36|         101|          1|              0|   3|
| 5342|Fundamental Medio|   Divorciado|     9548.0|             1|                0|            31|         0|         1|         3|        10|        6|       9|               2|           1|              0|           3|              8|   46|          29|          1|              0|   4|
| 7349|Fundamental Medio|Uniao estavel|     9722.0|             1|                0|             7|         6|        17|        16|         6|       16|      42|               4|           3|              1|           3|              8|   49|         103|          1|              1|   5|
| 9316|Fundamental Medio|Uniao estavel|    13084.0|             0|                0|            29|         2|         0|         7|         3|        7|      10|               1|           1|              0|           3|              6|   70|          29|          0|              0|   6|
|10069|Fundamental Medio|Uniao estavel|    13724.0|             1|                0|            43|         2|         7|         5|         2|       15|      27|               1|           2|              0|           2|              9|   34|          58|          1|              1|   7|
| 5802|Fundamental Medio|       Casado|    14188.0|             0|                0|            40|         2|         7|        11|        16|       12|      27|               1|           2|              0|           4|              6|   50|          75|          0|              0|   8|
|  193|Fundamental Medio|       Casado|    14421.0|             0|                0|            81|         0|         0|         2|         3|        3|       8|               1|           1|              0|           2|              5|   26|          16|          0|              1|   9|
| 8700|Fundamental Medio|     Solteiro|    14906.0|             0|                0|            86|         7|         7|        14|         7|       16|      15|               3|           2|              1|           3|              7|   36|          66|          0|              0|  10|
| 3850|Fundamental Medio|Uniao estavel|    14918.0|             0|                1|            52|         3|         3|         3|        15|        4|      15|               1|           1|              0|           3|              6|   59|          43|          1|              0|  11|
| 3628|Fundamental Medio|     Solteiro|    15038.0|             1|                0|            93|         4|         8|        11|        19|       12|      26|               2|           2|              1|           2|              9|   35|          80|          1|              0|  12|
| 3839|Fundamental Medio|     Solteiro|    15056.0|             1|                1|            76|         6|        12|         3|        21|        6|      40|               5|           2|              2|           3|              5|   64|          88|          2|              0|  13|
| 7600|Fundamental Medio|     Solteiro|    15253.0|             1|                0|            13|         1|         3|         3|         8|        1|      13|               2|           1|              0|           3|              7|   30|          29|          1|              0|  14|
| 6347|Fundamental Medio|     Solteiro|    15862.0|             1|                0|            26|         1|         1|         4|        11|        9|      10|               1|           1|              0|           3|              8|   43|          36|          1|              0|  15|
|  642|Fundamental Medio|       Casado|    16005.0|             1|                0|            69|         1|         3|         2|        20|       30|      47|               3|           2|              1|           2|              8|   42|         103|          1|              0|  16|
| 5394|Fundamental Medio|     Solteiro|    16014.0|             1|                1|            42|         3|         9|         4|         7|        8|       7|               4|           1|              1|           4|              3|   43|          38|          2|              0|  17|
| 7620|Fundamental Medio|     Solteiro|    16185.0|             1|                0|            71|         5|        11|        16|        21|        8|      45|               2|           2|              2|           2|              8|   32|         106|          1|              0|  18|
| 8977|Fundamental Medio|     Solteiro|    16581.0|             0|                0|            51|         1|         3|         4|         2|        3|      11|               1|           0|              0|           3|              4|   37|          24|          0|              0|  19|
| 1384|Fundamental Medio|       Casado|    17256.0|             1|                0|            10|         6|         4|        14|         8|        8|      22|               2|           2|              1|           2|              8|   30|          62|          1|              1|  20|
+-----+-----------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+-----+------------+-----------+---------------+----+
only showing top 20 rows

In [ ]:
# IDENTIFICAR O ESTADO CIVIL QUE MAIS POSSUI DEPENDENTES E QUE MAIS CONSOME PRODUTOS
w1=Window.partitionBy(F.col('Estado_civil'))
w2=Window.partitionBy(F.col('Estado_civil')).orderBy('Renda_anual')
df_w1 = df_spark.withColumn('rank', F.rank().over(w2)).withColumn('Dependentes',F.sum('Dependentes').over(w1)).withColumn('Total_compra',F.sum('Total_compra').over(w1)).where(F.col('rank')==1).select('Estado_civil', 'Dependentes', 'Total_compra')
df_w1.sort('Estado_civil').show()

# OS CASADOS REPRESENTAM O GRUPO COM MAIS DEPENDENTES E QUE MAIS CONSOMEM

+---------------+-----------+------------+
|   Estado_civil|Dependentes|Total_compra|
+---------------+-----------+------------+
|        Absurdo|          0|        2385|
|         Casado|        827|      506885|
|Curtindo a vida|          2|         848|
|Curtindo a vida|          2|         848|
|     Divorciado|        233|      141666|
|       Solteiro|        404|      288531|
|        Sozinho|          5|         770|
|  Uniao estavel|        561|      348869|
|          Viuvo|         67|       55325|
+---------------+-----------+------------+

In [ ]:
# GASTO MÉDIO DE ACORDO COM A ESCOLARIDADE
df2_spark = ( df_spark.groupBy(F.col("Escolaridade"))
           .agg(F.sum("Renda_anual"),
                F.max("Total_compra"),
                F.min("Total_compra"),
                F.avg("Renda_anual")).show() 
)

+-----------------+----------------+-----------------+-----------------+-----------------+
|     Escolaridade|sum(Renda_anual)|max(Total_compra)|min(Total_compra)| avg(Renda_anual)|
+-----------------+----------------+-----------------+-----------------+-----------------+
|        Graduacao|     5.8835937E7|             2524|                5|52720.37365591398|
|              PhD|     2.7005896E7|             2440|                8|56145.31392931393|
|    Pos graduacao|       9526638.0|             2257|               13|         47633.19|
|Fundamental Medio|       1096538.0|              839|               14|20306.25925925926|
|         Mestrado|       1.93149E7|             2525|               10|52917.53424657534|
+-----------------+----------------+-----------------+-----------------+-----------------+

In [ ]:
# MEDIA DE FILHOS POR ESTADO CIVIL
df2_spark = ( df_spark.groupBy(F.col("Estado_civil"))
           .agg(F.sum("Dependentes"),
                F.max("Dependentes"),
                F.min("Dependentes")).show())

+---------------+----------------+----------------+----------------+
|   Estado_civil|sum(Dependentes)|max(Dependentes)|min(Dependentes)|
+---------------+----------------+----------------+----------------+
|  Uniao estavel|             561|               3|               0|
|     Divorciado|             233|               3|               0|
|        Sozinho|               5|               2|               1|
|       Solteiro|             404|               3|               0|
|        Absurdo|               0|               0|               0|
|Curtindo a vida|               2|               1|               1|
|         Casado|             827|               3|               0|
|          Viuvo|              67|               2|               0|
+---------------+----------------+----------------+----------------+

In [ ]:
# MEDIA DE CONSUMO POR ESTADO CIVIL
df2_spark = ( df_spark.groupBy(F.col("Estado_civil"))
           .agg(F.sum("Total_compra"),
                F.max("Total_compra"),
                F.min("Total_compra")).show())

+---------------+-----------------+-----------------+-----------------+
|   Estado_civil|sum(Total_compra)|max(Total_compra)|min(Total_compra)|
+---------------+-----------------+-----------------+-----------------+
|  Uniao estavel|           348869|             2524|                8|
|     Divorciado|           141666|             2074|                6|
|        Sozinho|              770|              632|               49|
|       Solteiro|           288531|             2525|                5|
|        Absurdo|             2385|             1216|             1169|
|Curtindo a vida|              848|              424|              424|
|         Casado|           506885|             2486|                8|
|          Viuvo|            55325|             2088|               15|
+---------------+-----------------+-----------------+-----------------+

In [ ]:
df_spark.show()

#NIVEL SPARK SQL

- CONSULTAS UTILIZANDO SQL PARA ANÁLISE DOS DADOS

In [ ]:
df_spark.createOrReplaceTempView("Dados_clientes")

In [ ]:
# CLIENTES COM MAIS DE 2500 COMPRAS E ANALISAR A RENDA DESSES CLIENTES 
spark.sql("SELECT * FROM Dados_clientes WHERE Total_compra > 2400 order by Total_compra  DESC").show()

+----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+-----+------------+-----------+---------------+
|  ID|Escolaridade| Estado_civil|Renda_anual|Crianca_emcasa|Adolecente_emcasa|Compra_recente|Qtd_vinhos|Qtd_frutas|Qtd_carnes|Qtd_peixes|Qtd_doces|Qtd_ouro|Compra_descontos|Compra_sites|Compra_catalogo|Compra_lojas|Visita_site_mes|Idade|Total_compra|Dependentes|Total_campanhas|
+----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+-----+------------+-----------+---------------+
|5735|    Mestrado|     Solteiro|    90638.0|             0|                0|            29|      1156|       120|       915|        94|      144|      96|               1|           3|              4|          10|              1|   31|        2525|          0|              1|
|5350|    Mestrado|     Solteiro|    90638.0|             0|                0|            29|      1156|       120|       915|        94|      144|      96|               1|           3|              4|          10|              1|   31|        2525|          0|              2|
|1763|   Graduacao|Uniao estavel|    87679.0|             0|                0|            62|      1259|       172|       815|        97|      148|      33|               1|           7|             11|          10|              4|   34|        2524|          0|              4|
|4580|   Graduacao|       Casado|    75759.0|             0|                0|            46|      1394|        22|       708|        89|       91|     182|               1|           9|              7|           9|              5|   53|        2486|          0|              4|
|4475|         PhD|       Casado|    69098.0|             0|                0|            82|      1315|        22|       780|       145|        0|     178|               1|           7|              8|           9|              5|   73|        2440|          0|              0|
+----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+-----+------------+-----------+---------------+

In [ ]:
# RENDA ANUAL DE CLIENTES ACIMA DE 100.000 PARA IDENTIFICAR O QUE ESSE CLIENTES MAIS CONSOMEM 
spark.sql("SELECT * FROM Dados_clientes WHERE Renda_anual > 100000 order by Renda_anual  DESC").show()

+-----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+-----+------------+-----------+---------------+
|   ID|Escolaridade| Estado_civil|Renda_anual|Crianca_emcasa|Adolecente_emcasa|Compra_recente|Qtd_vinhos|Qtd_frutas|Qtd_carnes|Qtd_peixes|Qtd_doces|Qtd_ouro|Compra_descontos|Compra_sites|Compra_catalogo|Compra_lojas|Visita_site_mes|Idade|Total_compra|Dependentes|Total_campanhas|
+-----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+-----+------------+-----------+---------------+
| 9432|   Graduacao|Uniao estavel|   666666.0|             1|                0|            23|         9|        14|        18|         8|        1|      12|               4|           3|              1|           3|              6|   45|          62|          1|              0|
| 1503|         PhD|Uniao estavel|   162397.0|             1|                1|            31|        85|         1|        16|         2|        1|       2|               0|           0|              0|           1|              1|   46|         107|          2|              0|
| 1501|         PhD|       Casado|   160803.0|             0|                0|            21|        55|        16|      1622|        17|        3|       4|              15|           0|             28|           1|              0|   40|        1717|          0|              0|
| 5336|    Mestrado|Uniao estavel|   157733.0|             1|                0|            37|        39|         1|         9|         2|        0|       8|               0|           1|              0|           1|              1|   51|          59|          1|              0|
| 8475|         PhD|       Casado|   157243.0|             0|                1|            98|        20|         2|      1582|         1|        2|       1|              15|           0|             22|           0|              0|   49|        1608|          1|              0|
| 4931|   Graduacao|Uniao estavel|   157146.0|             0|                0|            13|         1|         0|      1725|         2|        1|       1|               0|           0|             28|           0|              1|   45|        1730|          0|              0|
|11181|         PhD|       Casado|   156924.0|             0|                0|            85|         2|         1|         2|         1|        1|       1|               0|           0|              0|           0|              0|   73|           8|          0|              0|
| 5555|   Graduacao|   Divorciado|   153924.0|             0|                0|            81|         1|         1|         1|         1|        1|       1|               0|           0|              0|           0|              0|   47|           6|          0|              0|
| 4619|         PhD|     Solteiro|   113734.0|             0|                0|             9|         6|         2|         3|         1|      262|       3|               0|          27|              0|           0|              1|   77|         277|          0|              0|
| 4611|   Graduacao|Uniao estavel|   105471.0|             0|                0|            36|      1009|       181|       104|       202|       21|     207|               0|           9|              8|          13|              3|   52|        1724|          0|              3|
|10089|   Graduacao|   Divorciado|   102692.0|             0|                0|             5|       168|       148|       444|        32|      172|     148|               1|           6|              9|          13|              2|   48|        1112|          0|              5|
| 2798|         PhD|Uniao estavel|   102160.0|             0|                0|            54|       763|        29|       138|        76|      176|      58|               0|           7|              9|          10|              4|   45|        1240|          0|              4|
| 7215|   Graduacao|     Solteiro|   101970.0|             0|                0|            69|       722|        27|       102|        44|       72|     168|               0|           6|              8|          13|              2|   39|        1135|          0|              4|
+-----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+-----+------------+-----------+---------------+

In [ ]:
# CLIENTES COM MAIS DE 75 ANOS, IDENTIFICANDO O PERFIL DESSES
spark.sql("SELECT * FROM Dados_clientes WHERE Idade > 75 order by Renda_anual  DESC").show()

+-----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+-----+------------+-----------+---------------+
|   ID|Escolaridade| Estado_civil|Renda_anual|Crianca_emcasa|Adolecente_emcasa|Compra_recente|Qtd_vinhos|Qtd_frutas|Qtd_carnes|Qtd_peixes|Qtd_doces|Qtd_ouro|Compra_descontos|Compra_sites|Compra_catalogo|Compra_lojas|Visita_site_mes|Idade|Total_compra|Dependentes|Total_campanhas|
+-----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+-----+------------+-----------+---------------+
| 4619|         PhD|     Solteiro|   113734.0|             0|                0|             9|         6|         2|         3|         1|      262|       3|               0|          27|              0|           0|              1|   77|         277|          0|              0|
| 6932|         PhD|       Casado|    93027.0|             0|                0|            77|      1285|        42|       716|        55|        0|      21|               0|           7|             10|           5|              2|   81|        2119|          0|              1|
| 1150|         PhD|Uniao estavel|    83532.0|             0|                0|            36|       755|       144|       562|       104|       64|     224|               1|           4|              6|           4|              1|  123|        1853|          0|              1|
| 2114|         PhD|     Solteiro|    82800.0|             0|                0|            23|      1006|        22|       115|        59|       68|      45|               1|           7|              6|          12|              3|   76|        1315|          0|              3|
| 4261|         PhD|     Solteiro|    82800.0|             0|                0|            23|      1006|        22|       115|        59|       68|      45|               1|           7|              6|          12|              3|   76|        1315|          0|              3|
| 9930|         PhD|     Solteiro|    82716.0|             0|                0|             8|       606|       148|       228|        15|      148|      22|               1|           6|              8|          13|              2|   78|        1167|          0|              0|
| 1553|   Graduacao|Uniao estavel|    82657.0|             0|                0|            71|       966|       168|       672|       246|      105|     126|               1|           7|              5|          10|              4|   76|        2283|          0|              2|
| 4310|   Graduacao|       Casado|    80589.0|             0|                0|            25|       507|        93|       520|       242|       40|      26|               1|           5|             10|           5|              1|   78|        1428|          0|              2|
| 3711|    Mestrado|       Casado|    80184.0|             0|                0|            19|      1035|       134|       670|        25|       38|       0|               1|           6|              3|          10|              3|   78|        1902|          0|              2|
| 1577|   Graduacao|       Casado|    78569.0|             0|                0|            14|       558|        79|       622|       207|      175|      95|               1|           4|              6|           4|              1|   76|        1736|          0|              2|
| 4994|    Mestrado|     Solteiro|    77598.0|             0|                0|            53|      1193|        33|       281|       129|       66|      33|               1|           7|              5|          13|              3|   79|        1735|          0|              1|
| 7106|         PhD|       Casado|    75865.0|             0|                0|            73|       483|         0|       591|       156|        0|      12|               1|           3|              5|          10|              1|   79|        1242|          0|              0|
|  158|         PhD|Uniao estavel|    71604.0|             0|                0|             3|       345|        53|       528|        98|       75|      97|               1|           8|              3|           5|              4|   77|        1196|          0|              2|
| 9260|         PhD|       Casado|    70356.0|             0|                0|            20|      1349|        16|       249|        43|       16|      33|               2|          10|              6|           9|              6|   77|        1706|          0|              0|
|10711|   Graduacao|       Casado|    69755.0|             0|                0|            23|       217|        77|       373|       111|       23|      93|               1|           3|              6|          12|              1|   77|         894|          0|              0|
| 8755|    Mestrado|       Casado|    68657.0|             0|                0|             4|       482|        34|       471|       119|       68|      22|               1|           3|              5|           9|              7|   76|        1196|          0|              0|
|10562|    Mestrado|       Casado|    66835.0|             0|                0|            21|       620|        26|       195|        34|       17|     141|               1|           6|              4|          13|              2|   76|        1033|          0|              0|
| 7881|    Mestrado|       Casado|    66835.0|             0|                0|            21|       620|        26|       195|        34|       17|     141|               1|           6|              4|          13|              2|   76|        1033|          0|              0|
| 9370|         PhD|       Casado|    65846.0|             0|                0|            68|       562|        81|       276|        80|       40|      81|               1|           6|              3|           6|              4|   77|        1120|          0|              0|
|  466|   Graduacao|       Casado|    65275.0|             0|                0|             9|       388|        14|       218|        91|       14|      21|               1|           4|              3|          13|              2|   78|         746|          0|              0|
+-----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+-----+------------+-----------+---------------+
only showing top 20 rows

In [ ]:
# CLIENTES COM FILHOS E RELAÇÃO COM TOTAL COMPRAS
spark.sql("SELECT * FROM Dados_clientes WHERE Dependentes > 0 order by Total_compra  DESC").show()

+-----+-------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+-----+------------+-----------+---------------+
|   ID| Escolaridade| Estado_civil|Renda_anual|Crianca_emcasa|Adolecente_emcasa|Compra_recente|Qtd_vinhos|Qtd_frutas|Qtd_carnes|Qtd_peixes|Qtd_doces|Qtd_ouro|Compra_descontos|Compra_sites|Compra_catalogo|Compra_lojas|Visita_site_mes|Idade|Total_compra|Dependentes|Total_campanhas|
+-----+-------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+-----+------------+-----------+---------------+
| 5236|    Graduacao|Uniao estavel|    77568.0|             0|                1|            30|      1230|         0|       396|       232|      178|     158|               1|          10|              2|           8|              5|   43|        2194|          1|              3|
| 3403|          PhD|Uniao estavel|    78952.0|             0|                1|            11|      1170|        19|       594|        99|       76|     134|               2|           2|              5|          12|              6|   64|        2092|          1|              0|
| 1103|     Mestrado|       Casado|    81929.0|             1|                0|            60|      1486|        55|       278|        49|        0|     185|               2|           4|              4|          10|              6|   46|        2053|          1|              3|
| 3174|    Graduacao|Uniao estavel|    87771.0|             0|                1|            61|      1492|        38|       287|        50|       57|      33|               1|           5|             10|           4|              6|   63|        1957|          1|              5|
| 5536|    Graduacao|Uniao estavel|    87771.0|             0|                1|            61|      1492|        38|       287|        50|       57|      33|               1|           5|             10|           4|              6|   63|        1957|          1|              5|
| 2975|    Graduacao|Uniao estavel|    85606.0|             0|                1|            89|       717|        42|       864|       219|       30|      84|               2|           6|              7|           9|              3|   46|        1956|          1|              1|
| 6977|    Graduacao|Uniao estavel|    75702.0|             0|                1|            87|      1073|         0|       629|       145|       37|      37|               1|          10|              5|          13|              6|   48|        1921|          1|              1|
| 9743|    Graduacao|       Casado|    76998.0|             0|                1|            85|      1449|        89|       161|        69|       35|     107|               2|          11|              8|           8|              6|   67|        1910|          1|              1|
| 8717|          PhD|       Casado|    80427.0|             0|                1|            56|      1149|        71|       449|        69|       71|      26|               1|          11|              8|           8|              5|   47|        1835|          1|              0|
| 1204|          PhD|       Casado|    67536.0|             0|                1|            45|      1253|         0|       447|        23|       71|      35|               3|          11|              5|          11|              8|   52|        1829|          1|              1|
| 2223|Pos graduacao|   Divorciado|    64176.0|             0|                1|            52|      1215|        33|       249|        64|      116|     149|               8|           8|              9|           8|              6|   57|        1826|          1|              0|
| 4299|    Graduacao|Uniao estavel|    70971.0|             0|                1|            28|      1001|        17|       572|        93|      125|      17|               7|          11|             11|           5|              7|   62|        1825|          1|              1|
|11088|          PhD|Uniao estavel|    78642.0|             0|                1|            83|      1396|         0|       322|        46|       35|      17|               1|           4|              9|           4|              6|   51|        1816|          1|              0|
| 5831|    Graduacao|       Casado|    77870.0|             0|                1|            93|      1017|        50|       500|        65|       50|     133|               3|           5|              5|           5|              8|   55|        1815|          1|              3|
|  380|    Graduacao|   Divorciado|    64497.0|             0|                1|            17|      1170|        48|       320|        42|       32|     192|               5|          11|              4|           9|              8|   68|        1804|          1|              2|
| 6565|     Mestrado|       Casado|    76995.0|             0|                1|            91|      1012|        80|       498|         0|       16|     176|               2|          11|              4|           9|              5|   73|        1782|          1|              1|
| 8931|    Graduacao|Uniao estavel|    83033.0|             1|                0|            82|       812|        99|       431|       237|      149|      33|               1|          11|              4|          10|              5|   36|        1761|          1|              1|
| 1665|          PhD|   Divorciado|    64140.0|             0|                2|            71|      1459|         0|        61|         0|       15|     215|               5|           2|              5|           6|              5|   58|        1750|          2|              4|
| 5376|    Graduacao|       Casado|     2447.0|             1|                0|            42|         1|         1|      1725|         1|        1|       1|              15|           0|             28|           0|              1|   43|        1730|          1|              0|
| 6749|    Graduacao|     Solteiro|    86358.0|             1|                1|            78|       957|        47|       494|        82|       47|      95|               4|           5|              3|           6|              8|   56|        1722|          2|              0|
+-----+-------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+-----+------------+-----------+---------------+
only showing top 20 rows

In [ ]:
# CLIENTES COM PhD E ANALISAR A RENDA DESSES CLIENTES 
spark.sql("SELECT * FROM Dados_clientes WHERE  Escolaridade == 'PhD' and Dependentes > 0").show()

+-----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+-----+------------+-----------+---------------+
|   ID|Escolaridade| Estado_civil|Renda_anual|Crianca_emcasa|Adolecente_emcasa|Compra_recente|Qtd_vinhos|Qtd_frutas|Qtd_carnes|Qtd_peixes|Qtd_doces|Qtd_ouro|Compra_descontos|Compra_sites|Compra_catalogo|Compra_lojas|Visita_site_mes|Idade|Total_compra|Dependentes|Total_campanhas|
+-----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+-----+------------+-----------+---------------+
| 2574|         PhD|       Casado|    61996.0|             0|                1|            27|      1050|        12|       144|         0|        0|      24|               3|           6|              4|           8|              5|   45|        1230|          1|              4|
| 1665|         PhD|   Divorciado|    64140.0|             0|                2|            71|      1459|         0|        61|         0|       15|     215|               5|           2|              5|           6|              5|   58|        1750|          2|              4|
| 5794|         PhD|       Casado|    46374.0|             0|                1|             1|       408|         0|        21|         0|        0|      17|               3|           7|              1|           7|              8|   48|         446|          1|              3|
|10473|         PhD|        Viuvo|    78028.0|             0|                1|            38|       158|        19|       288|        25|        0|      38|               1|           6|              4|           9|              7|   66|         528|          1|              3|
| 4070|         PhD|       Casado|    94871.0|             0|                2|            99|       169|        24|       553|       188|        0|     144|               1|           8|              5|           4|              7|   53|        1078|          2|              3|
| 3182|         PhD|     Solteiro|    46854.0|             1|                1|            81|        96|         1|        79|         7|        1|      79|               6|           5|              1|           3|              8|   49|         263|          2|              2|
| 7573|         PhD|     Solteiro|    31626.0|             1|                0|            12|        39|         1|         9|         2|        1|      34|               1|           2|              1|           2|              7|   44|          86|          1|              2|
| 9972|         PhD|Uniao estavel|    46015.0|             1|                1|            25|        38|         0|         2|         0|        0|       6|               1|           1|              0|           3|              7|   67|          46|          2|              2|
| 7660|         PhD|      Sozinho|    35860.0|             1|                1|            37|        15|         0|         8|         4|        2|      20|               2|           1|              1|           2|              5|   49|          49|          2|              2|
| 4673|         PhD|       Casado|    81300.0|             0|                1|            17|      1004|        12|       145|        32|       12|      36|               3|          10|              3|           5|              5|   59|        1241|          1|              2|
| 2945|         PhD|Uniao estavel|    46015.0|             1|                1|            25|        38|         0|         2|         0|        0|       6|               1|           1|              0|           3|              7|   67|          46|          2|              2|
|10872|         PhD|       Casado|    55212.0|             0|                1|            65|      1103|         0|        45|         0|        0|      34|               3|           4|              2|          11|              8|   53|        1182|          1|              2|
| 2552|         PhD|     Solteiro|    55521.0|             1|                2|            11|       416|         0|        26|         0|        0|       4|               9|           6|              3|           6|              7|   67|         446|          3|              2|
| 7230|         PhD|   Divorciado|    50611.0|             0|                1|            98|       459|         0|        24|         6|        0|       4|               6|           4|              5|           7|              6|   62|         493|          1|              2|
| 1829|         PhD|   Divorciado|    54959.0|             0|                1|            55|      1148|         0|        60|         0|        0|      24|               3|           9|              5|           4|              7|   61|        1232|          1|              2|
| 6019|         PhD|       Casado|    37126.0|             1|                0|             9|        45|         3|         9|         4|        4|       7|               1|           1|              2|           2|              6|   51|          72|          1|              2|
| 9703|         PhD|       Casado|    38097.0|             1|                1|            70|        77|         2|        35|         0|        1|      69|               4|           3|              2|           2|              7|   52|         184|          2|              2|
| 2072|         PhD|Uniao estavel|    53374.0|             0|                1|            34|       896|        10|       101|        13|       10|      34|               6|           4|              2|           9|              9|   53|        1064|          1|              2|
| 1626|         PhD|   Divorciado|    35860.0|             1|                1|            37|        15|         0|         8|         4|        2|      20|               2|           1|              1|           2|              5|   49|          49|          2|              2|
| 9707|         PhD|       Casado|    55212.0|             0|                1|            65|      1103|         0|        45|         0|        0|      34|               3|           4|              2|          11|              8|   53|        1182|          1|              2|
+-----+------------+-------------+-----------+--------------+-----------------+--------------+----------+----------+----------+----------+---------+--------+----------------+------------+---------------+------------+---------------+-----+------------+-----------+---------------+
only showing top 20 rows

RESPOSTAS DO PROJETO:

OS CLIENTES QUE MAIS CONSOMEM PRODUTOS SÃO PESSOAS SOLTEIRAS E CASADAS COM FORMAÇÃO SUPERIOR

#NIVEL INFRA (MONGO)

- NO MONGO ATLAS FOI CRIADO O DATABASE DO PROJETO E DUAS COLEÇÕES, UMA PARA OS DADOS BRUTOS E UMA PARA OS TRATADOS. 

- PELO PYMONGO OS DATAFRAMES FORAM ADICIONADOS AS COLEÇÕES
- ENVIO DO DF MODIFICADO PARA A COLEÇÃO

In [ ]:
df_oficial = df_spark.toPandas()

In [ ]:
df_oficial.head(5)

,ID,Escolaridade,Estado_civil,Renda_anual,Crianca_emcasa,Adolecente_emcasa,Compra_recente,Qtd_vinhos,Qtd_frutas,Qtd_carnes,...,Qtd_ouro,Compra_descontos,Compra_sites,Compra_catalogo,Compra_lojas,Visita_site_mes,Idade,Total_compra,Dependentes,Total_campanhas
0,10089,Graduacao,Divorciado,102692.0,0,0,5,168,148,444,...,148,1,6,9,13,2,47,1112,0,5
1,3725,PhD,Solteiro,84865.0,0,0,1,1248,16,349,...,16,1,2,4,9,4,60,1688,0,5
2,3174,Graduacao,Uniao estavel,87771.0,0,1,61,1492,38,287,...,33,1,5,10,4,6,62,1957,1,5
3,5536,Graduacao,Uniao estavel,87771.0,0,1,61,1492,38,287,...,33,1,5,10,4,6,62,1957,1,5
4,8545,Graduacao,Divorciado,85683.0,0,0,6,1296,17,311,...,51,1,2,4,10,1,67,1789,0,5

In [ ]:
client1 = pymongo.MongoClient('mongodb+srv://raquelalv:r1234@clustersc.xgmq1.mongodb.net/myFirstDatabase?retryWrites=true&w=majority')

In [ ]:
db = client1['projeto_individual_raquel']
df_modificado = db.dataset_modificado

In [ ]:
df_dici = df_oficial.to_dict("records")
df_modificado.insert_many(df_dici)

# MANDANDO CSV PARA BUCKET

In [ ]:
# PASSANDO DF PARA CSV 
df_oficial.to_csv('Modificado.csv',index=False)

In [ ]:
# EXPORTANDO CSV PARA BUCKET
client = storage.Client()
bucket = client.get_bucket('projeto_individual_raquel')

bucket.blob('dataset_modificado/Modificado.csv').upload_from_string(df_pt.to_csv(), 'text/csv')